@import 'locomotive-scroll/dist/locomotive-scroll.css';
@import "tailwindcss";






body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #111827;
}

::selection {
  background-color: #fce7f3;
  /* pink-100 */
  color: #db2777;
  /* pink-600 */
}